<launch>
 <node pkg="canbus" name="can_device0" type="can_device0" args="0" respawn="true"/>
 <node pkg="canbus" name="can_device1" type="can_device1" args="1" respawn="true"/>
 <node pkg="milradar" name="milradar_com" type="milradar_com" respawn="true"/>
 <node pkg="milradar" name="milradar_display" type="milradar_display" respawn="true"/>
</launch>
